@{
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/js/magnific-popup-options.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <link rel="stylesheet" href="~/css/login.css" />
}



@if (ViewBag.Usuario == null || ViewBag.UsuarioInvalido == true)
{
    <div>
        <section>
            <div style="background-image: url('https://www.foodiesfeed.com/wp-content/uploads/2019/02/messy-pizza-on-a-black-table.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover">
                <div class="container">
                    <div class="row slider-text align-items-center justify-content-center">
                        <div class="col-md-8 text-center col-sm-12 ">
                            <div class="limiter">
                                <div class="container-login100">
                                    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                                        @if (ViewBag.UsuarioInvalido == true)
                                        {
                                            <div>
                                                Usuário e/ou senha inválidos. Tente novamente.
                                            </div>
                                        }
                                    <form method="post" class="login100-form validate-form">

                                        <div class="wrap-input100 validate-input m-b-16">
                                            <input class="input100" type="text" name="Login" placeholder="Digite o login" required>
                                            <span class="focus-input100"></span>
                                            <span class="symbol-input100">
                                                <span class="lnr lnr-envelope"></span>
                                            </span>
                                        </div>

                                        <div class="wrap-input100 validate-input m-b-16">
                                            <input class="input100" type="password" name="Senha" placeholder="Digite a senha" required>
                                            <span class="focus-input100"></span>
                                            <span class="symbol-input100">
                                                <span class="lnr lnr-lock"></span>
                                            </span>
                                        </div>
                                        <br /><br /><br /><br />
                                        <div class="container-login100-form-btn p-t-25">
                                            <button class="login100-form-btn">
                                                Login
                                            </button>
                                        </div>
                                        <br /><br /><br /><br />
                                        <div class="text-center w-full p-t-115" style="padding-left:5%">
                                            <span class="txt1">
                                                Não é cadastrado?
                                            </span>

                                            <a class="txt1 bo1 hov1" asp-controller="Usuario" asp-action="Cadastrar">
                                                Cadastre-se
                                            </a>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END slider -->
    </div>
}