@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Error";
}
@section Scripts
{
    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/js/magnific-popup-options.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <meta http-equiv="Refresh" content="5;url=../Home/Index" />
}
<div style="background-color:black">

</div>


<div style="padding: 7%; text-align:center">

    <img src="https://www.techpointonline.com/img/repair.gif" alt="Desculpe-nos. Estamos analisando o ocorrido" width="25%";>
    <h2>Opss.. estamos com um erro em nosso sistema. <br />Pedimos desculpas pelo ocorrido.</h2>
    <h2>Você será redirecionado para a página inicial.</h2>
</div>

