@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/js/magnific-popup-options.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
}


<div class="slider-wrap">
    <section class="home-slider owl-carousel">


        <div class="slider-item" style="background-image: url('https://images.unsplash.com/photo-1477617722074-45613a51bf6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up mb-5">A sua lanchonete online</h1>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Login</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up mb-5">Não tem nada melhor, do que fazer outra pessoa feliz com comida</h1>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Login</a></p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END slider -->
</div>


<section class="section bg-light py-5  bottom-slant-gray">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <img src="~/images/lanche1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto">
                <div class="text-left heading-wrap">
                    <h2 data-aos="fade-up">ALL - Lanchonete</h2>
                </div>
                <p>O grupo ALL apresenta um novo conceito de lanchonete. Escolha o seu lanche antes de chegar ao nosso estabelecimento e evite filas.</p>
                <p>O pagamento poderá ser realizado no estabelecimento, após o seu consumo. Convide os amigos, estamos te esperando! </p>
            </div>

        </div>
    </div>
</section>

<section class="section relative-higher">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Comentários</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="owl-carousel centernonloop2">
                    <div class="slide" data-aos="fade-left" data-aos-delay="100">
                        <blockquote class="testimonial">
                            <p>&ldquo; ALL é a melhor lanchonete que já frequentei. O ambiente é lindo, super aconchegante, funcionários muito atenciosos! &rdquo;</p>
                            <div class="d-flex author">
                                <img src="img/luizFelipe.jpg" alt="" class="mr-4">
                                <div class="author-info">
                                    <h4>Luiz Felipe Duarte</h4>
                                    <p>Estudante</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="slide" data-aos="fade-left" data-aos-delay="200">
                        <blockquote class="testimonial">
                            <p>
                                &ldquo; Boa opção para um jantar entre amigos ou família.
                                Cardápio com opções variadas para todos os gostos. Atendimento excelente e muito atencioso.
                                Vale a pedida dos burgues que são bem preparados e servidos.
                                Para conhecer, vale a pena!&rdquo;
                            </p>
                            <div class="d-flex author">
                                <img src="img/augustoMateus.png" alt="" class="mr-4">
                                <div class="author-info">
                                    <h4>Augusto Mateus</h4>
                                    <p>Estudante</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>